* {
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
button, input, textarea {
    font-family: inherit;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
.product {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 184px repeat(3, auto);
    grid-template-areas: 
    "img img img"
    "brand brand brand"
    "title title title"
    "old-price price";
}
.product__img {
   grid-area: img;
   background: green;
}
.product__brand {
    grid-area: brand;
    font-size: 0.75em;
    color:#9B9B9B;
 }
.product__title {
   grid-area: title;
   font-size: 1em;
   font-weight: 500;
}
.product__price {
   grid-area: price;
   font-size: 0.9em;
   color: #DB3022;
}
.product__price--old {
   grid-area: price;
   color: #9B9B9B;
   text-decoration: line-through;
}